nav{
    padding: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
nav a{
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}